.color3 {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    font-size: $font4;
    padding: .25vw;
}

.orange { background: black; color: $orange; margin: 0; }
.yellow { background: black; color: $yellow; margin: 0; }
.chartreuse { background: black; color: $chartreuse; margin: 0; }
.limegreen { background: black; color: $limegreen; margin: 0; }
.seafoam { background: black; color: $seafoam; margin: 0; }
.skyblue { background: black; color: $skyblue; margin: 0; }
.medblue { background: black; color: $medblue; margin: 0; }
.royalblue { background: black; color: $royalblue; margin: 0; }
.purple { background: black; color: $purple; margin: 0; }
.hotpink { background: black; color: $hotpink; margin: 0; }
.dksalmon { background: black; color: $dksalmon; margin: 0; }
.redorange { background: black; color: $redorange; margin: 0; }