#gridcontainer {
    grid-area: gridcontainer;
    display: grid;
    grid-template-areas:
        "left"
        "right";
    & #right {
          grid-area: right;
          grid-template-areas:
          "todocontainer";
        & #todocontainer {
              display: grid;
              grid-template-areas:
              "header"
              "todos"
              "footer"
              "addbar";
        }
    }
}


@media screen and (min-width: 768px) {

  .navbar-collapse {
      justify-content: center;
  }

  .color3 {
      grid-template-columns: 1fr 1fr 1fr;
  }
}
