@media screen and (min-width: 451px) {

    #todocontainer {
        max-width: 500px;
    }
}

@media screen and (min-width: 700px) {
    
    #addinput, #searchinput {
        font-size: $font5;
    }
}

@media screen and (min-width: 992px) {
    
    #addinput, #searchinput {
        font-size: $font6;
    }
    
    .color3 {
        grid-template-columns: repeat(6, 1fr);
    }

    .normal-text, p.normal-text  {
        font-size: $font3;
    }

    #gridcontainer {
        max-width: 75%;
        margin: 0 auto;
        gap: 2vw;
        grid-template-areas:
        "left right";
        }
}


@media screen and (min-width: 1200px) {
    
    #addinput, #searchinput {
        font-size: $font7;
    }

    #todocontainer {
        max-width: 60%;
    }
}

@media screen and (min-width: 1500px) {
}
