@media screen and (min-width: 451px) {

    #todocontainer {
        max-width: 500px;
    }
}

@media screen and (min-width: 700px) {

    #addinput, #searchinput {
        font-size: $font2;
    }

    .title {
      font-size: $font2;
    }
}

@media screen and (min-width: 992px) {

    #addinput, #searchinput {
        font-size: $font2;
    }

    .color3 {
        grid-template-columns: repeat(6, 1fr);
    }

    .normal-text, p.normal-text  {
        font-size: $font2;
    }

    #gridcontainer {
        margin: 0 auto;
        gap: 2vw;
        grid-template-areas:
        "left right";
        }
}


@media screen and (min-width: 1200px) {

    #addinput, #searchinput {
        font-size: $font7;
    }

    .title {
      font-size: $font1;
    }
}

@media screen and (min-width: 1500px) {
    body {
        font-size: $font2;
    }
}
