@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Hubballi");
.color3 {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  font-size: 2rem;
  padding: 0.25vw;
}

.orange {
  background: black;
  color: #ff4d00;
  margin: 0;
}

.yellow {
  background: black;
  color: hsl(48deg, 100%, 50%);
  margin: 0;
}

.chartreuse {
  background: black;
  color: #b3ff00;
  margin: 0;
}

.limegreen {
  background: black;
  color: #33ff00;
  margin: 0;
}

.seafoam {
  background: black;
  color: #00ff4d;
  margin: 0;
}

.skyblue {
  background: black;
  color: #00b3ff;
  margin: 0;
}

.medblue {
  background: black;
  color: hsl(210deg, 100%, 40%);
  margin: 0;
}

.royalblue {
  background: black;
  color: #0000cc;
  margin: 0;
}

.purple {
  background: black;
  color: #6600cc;
  margin: 0;
}

.hotpink {
  background: black;
  color: #cc00cc;
  margin: 0;
}

.dksalmon {
  background: black;
  color: #cc0066;
  margin: 0;
}

.redorange {
  background: black;
  color: #cc0000;
  margin: 0;
}

input[type=checkbox].markbtnX {
  content: "✕";
  color: #cc0000;
  font-size: 3rem;
}

#gridcontainer {
  grid-area: gridcontainer;
  grid-template-areas: "right1" "left1";
}

#left1 {
  grid-area: left1;
  grid-template-areas: "header1" "srchbar" "addbar";
}

#right1 {
  grid-area: right1;
  grid-template-areas: "header" "listfooter" "todocontainer";
}

#todocontainer {
  grid-area: todocontainer;
  grid-template-areas: "todos";
}

#listfooter {
  display: grid;
  grid-area: listfooter;
  grid-template-columns: 1fr;
  grid-template-areas: "tasks" "sortitems" "filters";
}

#header1 {
  grid-area: header1;
}

#todos, #dtodos {
  grid-area: todos;
  grid-template-areas: "listitem";
}

.padit {
  padding: 4vw;
  margin: 1vh auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.listitem {
  grid-area: listitem;
  display: grid;
  grid-template-columns: 8% 72% 15% 5%;
  grid-template-areas: "markbtn task editbtn delbtn";
}

.markbtn {
  grid-area: markbtn;
}

p.todo-text.cat {
  grid-area: cat;
}

.task {
  grid-area: task;
}

.delbtn {
  grid-area: delbtn;
}

.editbtn {
  grid-area: editbtn;
}

#filters {
  grid-area: filters;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#tasks {
  grid-area: tasks;
}

#allbtn {
  grid-area: allbtn;
}

#actbtn {
  grid-area: actbtn;
}

#donebtn {
  grid-area: donebtn;
}

#srchbar {
  display: grid;
  grid-area: srchbar;
  grid-template-areas: "srchinput srchbtn";
}

#srchbtn {
  grid-area: srchbtn;
}

#srchinput {
  grid-area: srchinput;
}

#addbar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: 0.5vh;
  grid-area: addbar;
  grid-template-areas: "catinput" "addinput" "addbtn";
}

#addinput {
  grid-area: addinput;
}

#catinput {
  grid-area: catinput;
}

#catinput, #addinput, #addbtn, #srchbtn, #srchinput, .sharer {
  height: 1.5rem;
  padding: 0 1vh;
}

#addbtn {
  grid-area: addbtn;
  color: hsl(48deg, 100%, 50%);
  background: hsl(210deg, 100%, 40%);
  border: 1px solid white;
  border-radius: 25px;
  width: 35%;
  margin: 0.25rem;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .listitem {
    grid-template-columns: 6% 70% 14% 10%;
  }
  .navbar-collapse {
    justify-content: center;
  }
  .color3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .color3 {
    grid-template-columns: repeat(6, 1fr);
  }
  #gridcontainer {
    margin: 0 auto;
    gap: 2vw;
    grid-template-areas: "left1 right1";
  }
}
body {
  max-height: 95vh;
  margin: 1vh auto;
  color: white;
  font-size: 20px;
  font-family: "Hubballi", sans-serif;
  background: linear-gradient(180deg, hsl(210deg, 100%, 40%) 40%, hsl(69deg, 9%, 60%) 50%, hsl(48deg, 100%, 50%) 60%);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  margin: 0.5rem auto;
}

div.sticky { /* Safari */
  position: sticky;
  top: 0;
}

footer {
  background: black;
  margin: 0 auto;
}

.div-width {
  width: 10rem;
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
  font-size: large;
  color: white;
}

.bublue {
  background: hsl(210deg, 100%, 40%) !important;
}

.bmedblue {
  background: hsl(210deg, 100%, 40%) !important;
}

.buyellow {
  background: hsl(48deg, 100%, 50%) !important;
}

.byellow {
  background: hsl(48deg, 100%, 50%) !important;
}

.buorange {
  background: #b76000 !important;
}

.borange {
  background: #ff4d00 !important;
}

.bredorange {
  background: #cc0000;
}

.bdksalmon {
  background: #cc0066;
}

.broyalblue {
  background: #0000cc;
}

.bhotpink {
  background: #cc00cc;
}

.bpurple {
  background: #6600cc;
}

.bchartreuse {
  background: #b3ff00;
}

.blimegreen {
  background: #33ff00;
}

.bseafoam {
  background: #00ff4d;
}

.baqua {
  background: #00ffcc;
}

.bskyblue {
  background: #00b3ff;
}

.bnewblue {
  background: #0033ff;
}

.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.showborder {
  border: 2px solid white;
  border-radius: 20px;
}

.sharer {
  margin: 0.5rem auto;
  background: black;
  border: none;
}
.sharer img {
  height: 3vh;
  width: 3vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(48deg, 100%, 50%);
  font-family: "Hubballi", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
  background: hsl(210deg, 100%, 40%);
}

h6 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Hubballi", sans-serif;
  background: hsl(210deg, 100%, 40%);
}

figcaption {
  color: hsl(48deg, 100%, 50%);
}

div,
form,
footer,
p,
header,
section {
  font-family: "Hubballi", sans-serif;
  border-radius: 20px;
}

.morespc {
  line-height: 1.5;
}

.centerimg {
  display: block;
  max-width: 100%;
  margin: auto;
}

.listdots {
  list-style: square;
}

.f1 {
  font-family: "Handlee", cursive;
}

.f2 {
  font-family: "Hubballi", sans-serif;
}

.color3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vw;
  padding: 2vw;
  border-radius: 20px;
  margin: 4vw;
  font-weight: bold;
}

.lighthover {
  color: fuchsia;
}

.title {
  color: hsl(48deg, 100%, 50%);
  margin: 0 auto;
  padding: 1vw;
}

a {
  color: #8000ff;
  text-decoration: none;
}
a a:hover {
  color: #ff33ff;
}

a:visited {
  color: #ff9466;
}

a:hover {
  color: #ff33ff;
}

#siteTitle2 {
  color: #b3ff00;
  font-family: "Hubballi", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

#social-share, #left1, #right1 {
  display: flex;
  flex-direction: row;
  width: 90%;
  text-align: left;
  background: black;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem auto;
}

.inputs {
  color: #3333ff;
  background: hsl(48deg, 100%, 50%);
  padding: 0.5rem;
  height: 1.5rem;
  border: 1px solid white;
  border-radius: 20px;
}

::-moz-placeholder {
  color: gray;
  font-size: small;
}

::placeholder {
  color: gray;
  font-size: small;
}

#autofooter {
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  margin-bottom: 6vh;
  background: black !important;
}

.source {
  text-align: center;
  color: #cc00cc;
}

.sources {
  text-align: left;
  color: #00ff4d;
  font-weight: bold;
  margin: 2vh auto;
}
.sources a {
  text-decoration: none;
  color: #00ff4d;
}

.icons {
  background: black;
}

.itembtns {
  margin: auto;
  font-size: small;
}

.italic {
  font-style: italic;
}

#todo-error {
  font-weight: bold;
  color: #cc0000;
}

#root a {
  color: #b3ff00;
  text-decoration: none;
  font-weight: bold;
}

#root a:visited {
  color: #33ff00;
}

.btns {
  max-height: 1.5rem;
  margin: auto;
  border: 2px solid white;
  border-radius: 20px;
}

.todobtn {
  color: hsl(48deg, 100%, 50%);
  background: hsl(210deg, 100%, 40%);
  margin: 0 0.5rem;
}
.todobtn a {
  text-decoration: none;
  color: #0000cc;
  text-align: center;
}
.todobtn a :hover {
  border: 5px solid #cc00cc;
}

#right1, #left1 {
  padding: 0.5vh;
  background: black;
}

.todo-bordered {
  border: 2px solid white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.white {
  color: white;
}

.todo-scratch {
  text-decoration: line-through;
}

.nodots {
  list-style-type: none;
}

.todo-text, p.todo-text {
  color: white;
  text-align: left;
  font-weight: bold;
}

.todo-text {
  color: white;
}

#srchbar {
  display: flex;
  flex-direction: row;
}
#srchbar #srchinput {
  width: 12rem;
  height: 1.5rem;
  margin: 0 0.5rem 0;
  font-weight: bold;
  background: #33ff00;
  color: black;
}

#todocontainer {
  width: 100%;
  margin: 0 auto;
}

p {
  padding: 0;
  margin: 4px;
}

#todocontainer {
  background: black;
  text-align: center;
  margin: 0 auto;
}
#todocontainer #header1 {
  margin-bottom: 0;
}
#todocontainer #todos, #todocontainer #dtodos {
  color: white;
  margin: auto;
}
#todocontainer #todos li.listitem, #todocontainer #dtodos li.listitem {
  max-height: 10rem;
  margin: 0 auto;
  padding: 0;
  border: 2px solid white;
}
#todocontainer #todos li.listitem .markbtn, #todocontainer #dtodos li.listitem .markbtn {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.1rem;
  border-radius: 20px;
}
#todocontainer #todos li.listitem .task, #todocontainer #dtodos li.listitem .task {
  text-align: left;
  min-width: 10rem;
  padding: 0;
  margin: 0;
}
#todocontainer #todos li.listitem .delbtn, #todocontainer #dtodos li.listitem .delbtn {
  color: #cc0000;
  border: 1px solid #cc0000;
  width: 0.25rem;
  margin: 0;
  font-size: 0.5rem;
  font-weight: bold;
}
#todocontainer #todos li.listitem .editbtn, #todocontainer #dtodos li.listitem .editbtn {
  border: 1px solid #00b3ff;
  width: 1.5rem;
  padding: 1rem;
  color: #00b3ff;
  font-size: 0.5rem;
  font-weight: bold;
}
#todocontainer #addbar {
  cursor: pointer;
  height: 8vw;
  padding: 0;
  width: 60%;
  margin: 0 auto;
  height: 2rem;
}
#todocontainer #addbar #addinput, #todocontainer #addbar #catinput {
  background: hsl(48deg, 100%, 50%);
  width: 90%;
  margin: 0 0.5rem;
}
#todocontainer #listfooter {
  max-height: 10rem;
  margin: 2vw;
  justify-content: left;
}
co #todocontainer #listfooter #filters {
  width: 90%;
  margin: 0 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#todocontainer #listfooter p#tasks {
  font-size: 1.5rem;
  text-align: center;
  margin: 1vw auto;
  max-height: 6vh;
  width: 100%;
}
#todocontainer #listfooter #allbtn, #todocontainer #listfooter #actbtn, #todocontainer #listfooter #donebtn {
  border: 2px dotted white;
}
#todocontainer {
  padding: 1vh;
  text-align: center;
  font-weight: bolder;
}

.scroll-container {
  position: fixed;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.js-scroll {
  width: 50%;
  height: 300px;
  background-color: #DADADA;
  transition: background-color 500ms;
}

.js-scroll.scrolled {
  background-color: aquamarine;
}

/* Smartphone Portrait and Landscape */
h1.title, li.cert-text {
  font-size: 2.5rem;
}

h2.title, .sources {
  font-size: 2rem;
}

h3.title {
  font-size: 1.5rem;
}

h4.title {
  font-size: 1rem;
}

h6.title {
  font-size: 1rem;
}

p.normal-text, li a, #autofooter a, .source, li.title, h5.title {
  font-size: 1rem;
}/*# sourceMappingURL=todo-app.css.map */