@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Hubballi");
#gridcontainer {
  grid-area: gridcontainer;
  display: grid;
  grid-template-areas: "left" "right";
}
#gridcontainer #right {
  grid-area: right;
  grid-template-areas: "todocontainer";
}
#gridcontainer #right #todocontainer {
  display: grid;
  grid-template-areas: "header" "todos" "footer" "addbar";
}

@media screen and (min-width: 768px) {
  .navbar-collapse {
    justify-content: center;
  }
  .color3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 700px) {
  #gridcontainer {
    max-width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .color3 {
    grid-template-columns: repeat(6, 1fr);
  }
  #gridcontainer {
    margin: 0 auto;
    gap: 2vw;
    grid-template-areas: "left right";
  }
}
.color3 {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  font-size: 2rem;
  padding: 0.25vw;
}

.orange {
  background: black;
  color: #b76000;
  margin: 0;
}

.yellow {
  background: black;
  color: #ffd700;
  margin: 0;
}

.chartreuse {
  background: black;
  color: #57b700;
  margin: 0;
}

.limegreen {
  background: black;
  color: #00b705;
  margin: 0;
}

.seafoam {
  background: black;
  color: #00b760;
  margin: 0;
}

.skyblue {
  background: black;
  color: #00b3b7;
  margin: 0;
}

.medblue {
  background: black;
  color: #0057b7;
  margin: 0;
}

.royalblue {
  background: black;
  color: #0500b7;
  margin: 0;
}

.purple {
  background: black;
  color: #6000b7;
  margin: 0;
}

.hotpink {
  background: black;
  color: #b700b3;
  margin: 0;
}

.dksalmon {
  background: black;
  color: #b70057;
  margin: 0;
}

.redorange {
  background: black;
  color: #b70500;
  margin: 0;
}

input[type=checkbox].markbtnX {
  content: "✕";
  color: #b70500;
  font-size: 3rem;
}

.changeMark{

}

body {
  color: white;
  font-size: 16px;
  font-family: "Hubballi", sans-serif;
  background: linear-gradient(180deg, hsl(211deg, 100%, 36%) 40%, hsl(69deg, 9%, 60%) 50%, hsl(51deg, 100%, 50%) 60%);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.showborder {
  border: 2px solid white;
  border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffd700;
  font-family: "Hubballi", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
  background: #0500b7;
}

h6 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Hubballi", sans-serif;
  background: #0500b7;
}

.padleft {
  padding-left: 4vw;
}

.padleft8 {
  padding-left: 8vw;
}

figcaption {
  color: #ffd700;
}

div,
form,
footer,
ul,
p,
header,
section {
  font-family: "Hubballi", sans-serif;
  border-radius: 10px;
}

.morespc {
  line-height: 1.5;
}

.centerimg {
  display: block;
  max-width: 100%;
  margin: auto;
}

.listdots {
  list-style: square;
}

.f1 {
  font-family: "Handlee", cursive;
}

.f2 {
  font-family: "Hubballi", sans-serif;
}

.gridparts {
  border: 5px solid white;
  border-radius: 15px;
  margin: 0 auto;
  padding: 2vw;
  max-width: 100%;
}

.orange {
  color: #b76000;
}

.yellow {
  color: #ffd700;
}

.chartreuse {
  color: #57b700;
}

.limegreen {
  color: #00b705;
}

.seafoam {
  color: #00b760;
}

.skyblue {
  color: #00b3b7;
}

.medblue {
  background: #bbbbbb;
  color: #0057b7;
}

.royalblue {
  background: #bbbbbb;
  color: #0500b7;
}

.purple {
  background: #bbbbbb;
  color: #6000b7;
}

.hotpink {
  color: #b700b3;
}

.dksalmon {
  color: #b70057;
}

.redorange {
  color: #b70500;
}

.color3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vw;
  padding: 2vw;
  border-radius: 10px;
  margin: 4vw;
  font-weight: bold;
}

.title {
  background: black;
  color: #ffd700;
  margin: 0 auto;
  padding: 1vw;
}

a {
  color: #0500b7;
  text-decoration: none;
}
a a:hover {
  color: #b70057;
}

a:visited {
  color: #00b705;
}

a:hover {
  color: #6000b7;
}

.padit {
  padding: 4vw;
  margin: 1vw auto;
}

#siteTitle2 {
  color: #57b700;
  font-family: "Hubballi", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

.inputs {
  max-width: 90%;
}

::-moz-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::placeholder {
  color: black;
}

footer#autofooter {
  font-weight: bold;
  text-align: center;
  margin-bottom: 6vh;
}

.source {
  text-align: center;
  color: #b700b3;
}

.sources {
  text-align: left;
  color: #00b760;
  font-weight: bold;
  margin: 2vh auto;
}
.sources a {
  text-decoration: none;
  color: #00b760;
}

.code {
  background: #b76000;
  color: black;
  border-radius: 10px;
  padding: 1.5vw;
  font-family: "Hubballi", sans-serif;
  font-weight: bold;
  width: 90%;
  margin: 2vw auto;
  text-decoration: none;
  list-style: none;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.italic {
  font-style: italic;
}

#todo-error {
  font-weight: bold;
  color: #b70500;
}

#root a {
  color: #57b700;
  text-decoration: none;
  font-weight: bold;
}

#root a:visited {
  color: #00b705;
}

.todo-buttons {
  max-height: 8vw;
  padding: 1vw;
  color: #ffd700;
  background: #0057b7;
  border: 2px solid white;
  border-radius: 10px;
}
.todo-buttons a {
  text-decoration: none;
  color: #0500b7;
  text-align: center;
}
.todo-buttons a :hover {
  border: 2px solid #00b3b7;
}

.todo-bordered {
  border: 2px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.white {
  color: white;
}

.todo-scratch {
  text-decoration: line-through;
}

.nodots {
  list-style-type: none;
}

.todo-text, p.todo-text {
  color: white;
  text-align: left;
  font-weight: bold;
  margin: 1vw;
  padding: 1vw;
}

.markbtn {
  border: 2px solid white;
  border-radius: 10px;
  margin: 0.5vh;
  padding: 0.5vh;
  width: 6vh;
  height: 6vh;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

#todocontainer {
  display: grid;
  grid-area: todocontainer;
  background: black;
  text-align: center;
  max-width: 90%;
  margin: 1vw auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header1" "todos" "addbar" "listfooter";
}
#todocontainer #header1 {
  grid-area: header1;
  margin-bottom: 0;
}
#todocontainer #todos, #todocontainer #dtodos {
  grid-area: todos;
  padding: 1vw;
  grid-template-areas: "listitem";
}
#todocontainer #todos li.listitem, #todocontainer #dtodos li.listitem {
  grid-area: listitem;
  display: grid;
  grid-template-columns: 1fr 2fr 7fr 1fr;
  margin: 0;
  max-height: 25vw;
  max-width: 100%;
  grid-template-areas: "markbtn cattext itemtext delbtn";
}
#todocontainer #todos li.listitem .markbtn, #todocontainer #dtodos li.listitem .markbtn {
  grid-area: markbtn;
  width: 4vh;
  height: 4vh;
  padding: 1vw;
  margin: auto;
}
#todocontainer #todos li.listitem #itemtext, #todocontainer #todos li.listitem #cattext, #todocontainer #dtodos li.listitem #itemtext, #todocontainer #dtodos li.listitem #cattext {
  grid-area: itemtext;
  height: 4vh;
  margin: 2vh;
}
#todocontainer #todos li.listitem .delbtn, #todocontainer #dtodos li.listitem .delbtn {
  grid-area: delbtn;
  color: #b70057;
  background: transparent;
  margin: auto;
  border: 1px solid #b70057;
  max-width: 8vw;
  height: 8vh;
  font-size: 2rem;
  font-weight: 500;
}
#todocontainer #todos li.listitem .editbtn, #todocontainer #dtodos li.listitem .editbtn {
  grid-area: editbtn;
  border: 1px solid #00b3b7;
  color: #00b3b7;
}
#todocontainer #listfooter {
  display: grid;
  max-height: 28vh;
  grid-area: listfooter;
  text-align: left;
  margin: 2vw;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  color: #ffd700;
  grid-template-areas: "tasks btns" "srchbar srchbar";
}
#todocontainer #listfooter #btncontainer {
  grid-area: btns;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
#todocontainer #listfooter p#tasks {
  grid-area: tasks;
  font-size: 2rem;
  text-align: center;
  margin: 1vw auto;
  max-height: 6vh;
  width: 100%;
}
#todocontainer #listfooter #allbtn {
  grid-area: allbtn;
}
#todocontainer #listfooter #actbtn {
  grid-area: actbtn;
}
#todocontainer #listfooter #donebtn {
  grid-area: donebtn;
}
#todocontainer #listfooter #allbtn, #todocontainer #listfooter #actbtn, #todocontainer #listfooter #donebtn {
  border: 2px dotted white;
  padding: 1vw;
  margin: 0 2vw;
}
#todocontainer #listfooter #srchbar {
  display: grid;
  grid-area: srchbar;
  max-width: 100%;
  grid-template-areas: "srchinput srchbtn";
}
#todocontainer #listfooter #srchbar #srchbtn {
  grid-area: srchbtn;
  background: #00b705;
  padding: 0.5vw;
  margin-left: 1vw;
  color: #ffd700;
  max-width: 100%;
}
#todocontainer #listfooter #srchbar #srchinput {
  grid-area: srchinput;
  width: 46vw;
  height: 4vh;
  margin: auto;
  padding: 1vw;
  font-weight: bold;
  background: #00b705;
  color: #ffd700;
}
#todocontainer #addbar {
  grid-area: addbar;
  margin: 2vw;
  grid-template-areas: "addinput addbtn";
  cursor: pointer;
  height: 8vw;
  padding: 0;
  display: grid;
  grid-template-columns: 9fr 1fr;
}
#todocontainer #addbar #addinput {
  background: #ffd700;
}
#todocontainer #addbar #addbtn {
  width: 8vw;
  height: 8vw;
  margin: 1vw auto;
  padding: 0.25vw;
  color: #0057b7;
  background: #ffd700;
  font-size: 2rem;
}
#todocontainer h3 {
  padding: 1vh;
  text-align: center;
  font-weight: bolder;
}

.scroll-container {
  position: fixed;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.js-scroll {
  width: 50%;
  height: 300px;
  background-color: #DADADA;
  transition: background-color 500ms;
}

.js-scroll.scrolled {
  background-color: aquamarine;
}

/* Smartphone Portrait and Landscape */
h1.title, li.cert-text {
  font-size: 2.5rem;
}

h2.title, .sources {
  font-size: 1.5rem;
}

h3.title {
  font-size: 1rem;
}

h4.title {
  font-size: 0.5rem;
}

h6.title {
  font-size: 0.5rem;
}

p.normal-text, li a, #autofooter, .source, li.title, h5.title {
  font-size: 0.5rem;
}

@media screen and (min-width: 768px) {
  .color3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=todo-app.css.map */