#gridcontainer {
    grid-area: gridcontainer;
    grid-template-areas:
    "left1"
    "right1";
}

#right1, #left1 {
    padding: .5vh;    
    background: black;
}

#left1 {
    grid-area: left1;
    grid-template-areas:
    "header1" 
    "todos"
    "listfooter";
}

#header1 {
    grid-area: header1;
}

#todos, #dtodos {
    grid-area: todos;
    grid-template-areas:
    "listitem";
}

.padit {
    padding: 4vw;
    margin: 1vh auto;
} 

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.listitem {
    grid-area: listitem;
    display: grid;
    grid-template-columns: 8% 72% 15% 5%;
    grid-template-areas: "markbtn task editbtn delbtn";
}

.markbtn {
    grid-area: markbtn;
}

p.todo-text.cat {
    grid-area: cat;
}

.task {
    grid-area: task;
}

.delbtn {
    grid-area: delbtn;
}

.editbtn {
    grid-area: editbtn;
}

#right {
    margin: auto;
    grid-area: right1;
    grid-template-areas:
    "todocontainer";
}

#todocontainer {
    grid-area: todocontainer;
    grid-template-areas:
    "header"
    "footer"
    "addbar";
}

#listfooter {
    display: grid;
    grid-area: listfooter;
    grid-template-columns: 1fr;
    grid-template-areas:
    "tasks"
    "btns"
    "srchbar";
}

#filters {
    grid-area: btns;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#tasks {
    grid-area: tasks;
}

#allbtn {
    grid-area: allbtn;
}

#actbtn {
    grid-area: actbtn;
}

#donebtn {
    grid-area: donebtn;
}

#srchbar {
    display: grid;
    grid-area: srchbar;
    grid-template-areas:
    "srchinput srchbtn";
}

#srchbtn {
    grid-area: srchbtn;
}

#srchinput {
    grid-area: srchinput;
}

#addbar {
    padding: .5vh;
    grid-area: addbar;
    grid-template-areas:
    "catinput addinput addbtn";
}

#addinput {
    grid-area: addinput;
}

#catinput {
    grid-area: catinput;
}

#catinput, #addinput, #addbtn, #srchbtn, #srchinput, .sharer {
    height: 1.5rem;
    padding: 0 1vh;
}

#addbtn {
    grid-area: addbtn;
    color: $yellow;
    background: $medblue;
    border: .5vw solid $yellow;
    border-radius: 4px;
}


@media screen and (min-width: 768px) {    

    .listitem {
        grid-template-columns: 6% 70% 14% 10%;
    }

  .navbar-collapse {
      justify-content: center;
  }

  .color3 {
      grid-template-columns: 1fr 1fr 1fr;
  }
}
