@media screen and (min-width: 700px) {

    body {
        font-size: 16px;
    }   

    .listitem {
        grid-template-columns: 4% 8% 5% 86%;
    }

    // #addinput, #searchinput {
    //     font-size: $font2;
    // }

    // .title {
    //   font-size: $font2;
    // }
}

@media screen and (min-width: 768px) { 

  .navbar-collapse {
      justify-content: center;
  }

  .color3 {
      grid-template-columns: 1fr 1fr 1fr;
  }
}




@media screen and (min-width: 992px) {

    // h1.title, li.cert-text { font-size: 3vw; }
    // h2.title, .sources  { font-size: 2.75vw; }
    // h3.title { font-size: 2.5vw; }
    // p.normal-text, li a, #autofooter, .source, li.normal-text { font-size: 2.25vw; }

    // #addinput, #searchinput {
    //     font-size: $font2;
    // }

    // .normal-text, p.normal-text  {
    //     font-size: $font2;
    // }

    .color3 {
        grid-template-columns: repeat(6, 1fr);
    }

    #gridcontainer {
        margin: 0 auto;
        gap: 2vw;
        grid-template-areas:
        "left1 right1";
    }
}


@media screen and (min-width: 1200px) {

    // h1.title, li.cert-text { font-size: 2.5vw; }
    // h2.title, .sources  { font-size: 2.5vw; }
    // h3.title { font-size: 2.25vw; }
    // p.normal-text, li a, #autofooter, .source, li.normal-text { font-size: 2vw; }

    // #addinput, #searchinput {
    //     font-size: $font7;
    // }

    // .title {
    //   font-size: $font1;
    // }
}

@media screen and (min-width: 1500px) {
    
    // h1.title, li.cert-text { font-size: 1vw; }
    // h2.title, .sources  { font-size: 1.25vw; }
    // h3.title { font-size: 1vw; }
    // p.normal-text, li a, #autofooter, .source, li.normal-text { font-size: .75vw; }
}
