// Colors
$uOrange: #b76000;


$uYellow: hsl(48, 100%, 50%);
$uBlue: hsl(210, 100%, 40%);
$medblue: $uBlue;
$royalblue:     adjust-hue($uBlue, 30deg);
$purple:        adjust-hue($uBlue, 60deg);
$hotpink:       adjust-hue($uBlue, 90deg);
$dksalmon:      adjust-hue($uBlue, 120deg);
$redorange:     adjust-hue($uBlue, 150deg);
$orange:        adjust-hue($uYellow, -30deg); 
$yellow: $uYellow;
$chartreuse:    adjust-hue($uYellow, 30deg);
$limegreen:     adjust-hue($uYellow, 60deg);
$seafoam:       adjust-hue($uYellow, 90deg);
$aqua:          adjust-hue($uYellow, 120deg);
$skyblue:       adjust-hue($uYellow, 150deg);
$newblue:       adjust-hue($uYellow, 180deg);

//$yellowFromSet: adjust-hue($orange,   30deg);
// $chartreuse:    adjust-hue($orange,   60deg);
// $limegreen:     adjust-hue($orange,   90deg);
// $seafoam:       adjust-hue($orange,  120deg);
// $skyblue:       adjust-hue($orange,  150deg);
// $medblue:       adjust-hue($orange,  180deg);
//$royalblue:     adjust-hue($orange, -150deg);
// $purple:        adjust-hue($orange, -120deg);
// $hotpink:       adjust-hue($orange,  -90deg);
// $dksalmon:      adjust-hue($orange,  -60deg);
// $redorange:     adjust-hue($orange,  -30deg);

$goalborder: 2px solid white;
$dotborder: 2px dotted white;

$accent2: lighten($orange, 10%);
$accent: $chartreuse;
$headings: $yellow;
$contrast: $medblue;
$orangeborder: darken($orange, 20%);
//$warning: darken($redorange, 50%);
$warning: lighten($redorange, 25%);

$valid: $limegreen;


$bgmoz: -moz-linear-gradient(180deg, rgb(0, 102, 204) 0%, rgba(255, 204, 0, 1) 67%);
$bgweb: -webkit-linear-gradient(180deg, rgb(0, 102, 204) 0%, rgba(255, 204, 0, 1) 67%);
$bgfilter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0059b8",endColorstr="#ffd700",GradientType=1);
$lgradient: linear-gradient(180deg, lighten($orange, 20%), lighten($contrast, 10%));
$hgradient: linear-gradient(180deg, rgb(0, 102, 204), rgba(255, 204, 0, 1));
$vgradient: linear-gradient(90deg, rgb(0, 102, 204), rgba(255, 204, 0, 1));
$newhgradient: linear-gradient(
    180deg,
    hsl(210, 100%, 40%) 40%,
    hsl(69deg 9% 60%) 50%,
    hsl(48, 100%, 50%) 60%
);
$newvgradient: linear-gradient(
      90deg,
      hsl(211, 100%, 36%) 0%,
      hsl(69deg 9% 60%) 52%,
      hsl(51, 100%, 50%) 100%
);
$background: $newhgradient;
$debug: rgb(190, 255, 60);

$dkgrey: #3a3a3a;
$mdgrey: #686868;
$ltgrey: #bababa;
$orangeshadow: rgba(234, 250, 93, 0.95);
$mdgreyshadow: rgba(255, 227, 100, 0.75);
$oldwarning: #bd0000;

$formshadow: 0 0 10px $orange;
$greyshadow: 0 0 20px $mdgrey;
$radius: 4px;
$border: 2px solid $orange;
$borderb: 4px solid $orange;
$borderwarn: 4px solid $warning;
$bordervalid: 4px solid $valid;
$buttonborder: 4px solid $contrast;
$inputborder: 4px solid $orangeborder;
$legendborder: 4px solid $mdgrey;

// Fonts
$fontfirst: 'Handlee', cursive;
$fontsecond: 'Hubballi', sans-serif;

$headerfont: "Yanone Kaffeesatz", sans-serif;
$textfont: "Nunito", sans-serif;
$headingfont: "Dosis", sans-serif;

$fontinput: max(4vw);
$font1: .5rem;
$font2: 1rem;
$font3: 1.5rem;
$font4: 2rem;
$font5: 2.5rem;
$font6: 3rem;
$font7: 3.5rem;
$fonth1: 5rem;

// Dimensions
$cardwidth: max(28);
$htmob: max(6vh);
$htlg: max(7vw);
$htdesc: max(18vh);
$cht: max(60vh);
$height: max(35vh);

// Font Awesome Icons
$fa-font-path:         "../webfonts" !default;
$fa-font-size-base:    16px !default;
$fa-font-display:      block !default;
$fa-css-prefix:        fa !default;
$fa-version:           "5.15.4" !default;
$fa-border-color:      $orange !default;
$fa-inverse:           $contrast !default;
$fa-li-width:          2em !default;
$fa-fw-width:          20em;
$fa-orange-opacity:   1 !default;
$fa-secondary-opacity: .4 !default;

@media screen and (min-width: 992px) {
    $radius: 20px;
    $fontinput: max(4vw);
    $font1: 1vh;
    $font2: 2vh;
    $font3: 3vh;
    $font4: 4vh;
    $font5: 5vh;
    $font6: 6vh;
    $font7: 7vh;
    $fonth1: 10vh;
}