@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Hubballi');

@import "variables";
@import "colors";
@import "checkbox";
@import "grid";
@import "large";

body {
    max-width: 95vw;
    max-height: 95vh;
    margin: 1vh auto;
    color: white;
    font-size: 16px;
    font-family: $fontsecond;
    background: $background;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bold {
    font-weight: bold;
}

.centered {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

.showborder {
    border: $todoborder;
    border-radius: $radius;
}

.sharer {
    background: black;
    border: none;
    & img {
        height: 3vh;
        width: 3vh;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: $yellow;
    font-family: $fontsecond;
}

h1 {
    font-size: $font6;
}

h2 {
    font-size: $font3;
}

h3 {
    font-size: $font3;
}

h4 {
    font-size: $font3;
}

h5 {
    font-size: $font2;
    font-weight: bold;
    background: $royalblue;
}

h6 {
    font-size: $font3;
    font-weight: bold;
    font-family: $fontsecond;
    background: $royalblue;
}

figcaption { color: $yellow; }

div,
form,
footer,
p,
header,
section {
    font-family: $fontsecond;
    border-radius: $radius;
}

.morespc { line-height: 1.5; }

.centerimg {
    display: block;
    max-width: 100%;
    margin: auto;
}

.listdots {
    list-style: square;
}

.f1 {
    font-family: $fontfirst;
}

.f2 {
    font-family: $fontsecond;
}

.color3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
    padding: 2vw;
    border-radius: $radius;
    margin: 4vw;
    font-weight: bold;
}

.title {
  background: black;
  color: $yellow;
  margin: 0 auto;
  padding: 1vw;
}

a {
    color: $royalblue;
    text-decoration: none;
    & a:hover {
        color: $dksalmon;
    }
}

a:visited {
    color: $limegreen;
}

a:hover {
    color: $purple;
}

#siteTitle2 {
    color: $accent;
    font-family: $fontsecond;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

.inputs {
    color: $medblue;
    background: $yellow;
    border: 1px solid white;
    border-radius: 4px;
}

::placeholder {
    color: grey;
}

footer#autofooter {
    font-weight: bold;
    text-align: center;
    margin-bottom: 6vh;
    background: $medblue;
}

.source {
    text-align: center;
    color: $hotpink;
}

.sources {
    text-align: left;
    color: $seafoam;
    font-weight: bold;
    margin: 2vh auto;
    & a {
        text-decoration: none;
        color: $seafoam;
    }
}

.icons {
    background: black;
}

.itembtns {
    margin: auto;
    font-size: small;
}

.italic {
    font-style: italic;
}

#todo-error {
    font-weight: bold;
    color: $redorange;
}

#root a {
    color: $accent;
    text-decoration: none;
    font-weight: bold;
}

#root a:visited {
    color: $limegreen;
}

.btns {
    max-height: 1.5rem;
    margin: auto;
    border: $todoborder;
    border-radius: $radius;
}

.todobtn {
    color: $yellow;
    background: $contrast;
    & a {
      text-decoration: none;
      color: $royalblue;
      text-align: center;
      & :hover {
          border: 2px solid $skyblue;
      }
    }
}

.todo-bordered {
    border: $todoborder;
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

.white {
    color: white;
}

.todo-scratch {
    text-decoration: line-through;
}

.nodots {
    list-style-type: none;
}

.todo-text, p.todo-text {
    color: white;
    text-align: left;
    font-weight: bold;
}

.todo-text {
    color: white;
}


#srchbar {
    & #srchinput {
        width: 12rem;
        height: 1.5rem;
        margin: auto;
        padding: .25rem;
        font-weight: bold;
        background: $limegreen;
        color: white;
    }
    & #srchbtn {
        background: $limegreen;
        padding: .25rem;
        color: white;
    }
}

#todocontainer {
    background: black;
    text-align: center;
    max-width: 90%;
    margin: 1vw auto;
    & #header1 {
        margin-bottom: 0;
    }
    & #todos, #dtodos {
        color: white;
        margin: auto;
        & li.listitem {
            max-height: 10rem;
            margin: auto;
            & .markbtn {
                width: 1.5rem;
                height: 1.5rem;
                margin: .1rem;
                border-radius: 10px;
            }
            & .task {
                text-align: left;
                min-width: 10rem;
            }
            & .delbtn {
                color: $redorange;
                border: 1px solid $redorange;
                width: .25rem;
                margin: 0;
                font-size: $font1;
                font-weight: bold;
            }
            & .editbtn {
                border: 1px solid $skyblue;
                width: 1.5rem;
                margin: 0;
                color: $skyblue;
                font-size: $font1;
                font-weight: bold;
            }
        }
    }
    & #listfooter {
        max-height: 10rem;
        text-align: left;
        margin: 2vw;
        justify-content: left;
        color: $yellow;
        & #filters {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        & p#tasks {
            font-size: $font3;
            text-align: center;
            margin: 1vw auto;
            max-height: 6vh;
            width: 100%;
        }
        & #allbtn, #actbtn, #donebtn {
            border: $dotborder;
            
        }
    }
    & #addbar {
        cursor: pointer;
        height: 8vw;
        padding: 0;
        & #addinput, #catinput {
            background: $yellow;
            width: 100%;
        }
    }
    &  {
        padding: 1vh;
        text-align: center;
        font-weight: bolder;
    }
}

.scroll-container {
    position: fixed;
}

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
   
  .js-scroll.scrolled {
    opacity: 1;
  }

  .js-scroll {
    width: 50%;
    height: 300px;
    background-color: #DADADA;
    transition: background-color 500ms;
  }
   
  .js-scroll.scrolled {
    background-color: aquamarine;
  }

// .mobileShow { display: inline; }

// .mobileHide { display: none; }

/* Smartphone Portrait and Landscape */

h1.title, li.cert-text { font-size: $font4; }
h2.title, .sources { font-size: $font3; }
h3.title { font-size: $font2; }
h4.title { font-size: $font1; }
h6.title { font-size: .5rem; }
p.normal-text, li a, #autofooter, .source, li.title, h5.title { font-size: $font1; }
